services:
  blockchain:
    image: trufflesuite/ganache
    ports:
      - "8545:8545"
    command:
  - --accounts
  - "10"
  - --defaultBalanceEther
  - "100"


  deployer:
    build:
      context: .
      dockerfile: docker/Dockerfile
    depends_on:
      - blockchain
    environment:
      - HARDHAT_NETWORK=localhost

